<table>
  <thead>
    <th>Pos</th>
    <th>Name</th>
    <th>Nr</th>
    <th></th>
    <th>Lap</th>
    <th>Sector 1</th>
    <th>Sector 2</th>
    <th>Sector 3</th>
    <th>Total</th>
    <th>Tyres</th>
  </thead>
  <tbody id="laptimes"></tbody>
</table>
