<!-- make sure to update also nav.ejs to include the new pages -->

<li><a href="./">Home</a></li>
<li><a href="./drivers">Drivers</a></li>
<li><a href="./trackinfo">Track info</a></li>
<li><a href="./laptimes">Lap Times</a></li>
<li><a href="./leaderboard">Race Leaderboard</a></li>
<li><a href="./pit">Pit Stops</a></li>
<li><a href="./singledriver">Single Driver</a></li>
<li><a href="./racecontrol">Race Control</a></li>
<li><a href="./teamradio">Team Radio</a></li>
<li><a href="./gplist">GP List</a></li>
