<ul>
	<li><a href="./laptimes">Lap Times</a></li>
	<li><a href="./leaderboard">Race Leaderboard</a></li>
	<li><a href="./racecontrol">Race Control</a></li>
	<li><a href="./teamradio">Team Radio</a></li>
</ul>
