<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <main>
      <h1><%= headline %></h1>
      <div class="center-small-box">
        <button id="blue-flag">Blue Flag OFF</button>
      </div>
      <div id="race-control"></div>
    </main>
     <script defer type="module" src="javascript/racecontrol.js"></script>
    <script defer src="javascript/services/navbar.js"></script>
  </body>
</html>
