<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1><%= headline %></h1>
    <div class="center-small-box">
        <button id="blue-flag">Blue Flag OFF</button>
    </div>
    <div id="race-control"></div>
</body>
<script defer type="module" src="javascript/racecontrol.js"></script>
</html>
